<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="RefrigeratorStoreDBConnectString"
           connectionString="Data Source=T5;
           Initial Catalog=Refrigerator_store;
           Integrated Security=true;"/>
    </connectionStrings>
</configuration>